.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input {
    width: 100%;
}

.item img {
    max-width: 64px;
}

.item-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    padding: 4px 10px !important;
}

.list-group-item:hover {
    background-color: #eee;
}

.paginator {
    font-weight: bold;
}